html {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20L0 20z' fill='%23b1a7c2' fill-opacity='0.23' fill-rule='evenodd'/%3E%3C/svg%3E");font-weight: 700;
    color: #000;
    font-family: Montserrat, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.quote-container {
    width: auto;
    max-width: 900px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 16px 5px rgba(0, 0, 0, 0.3);

}
.social {
    background-color: #cbc5c5;
    border-radius: 20px;
    margin-top: 24px;
    padding: 1px;
}
.social i {
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    color: rgb(51, 180, 239);
    cursor: pointer;
    
    }

.social i:hover {
        color: rgb(193, 64, 4);
    } 
.icon{
        margin-right: 20px;   
    }
.instagram i {
    font-size: 20px;
}
.king h4 {
    font-size: 16px;
    margin-left: 80px;
}
.quote-text {
    font-size: 2.15rem;
}
.long-quote {
    font-size: 1.7rem;
}
.fa-quote-left {
    font-size: 2.8rem;
}
.quote-author {
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
}
.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.7rem;
    color: #fff;
    background: #333;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.4rem rgba(121, 121, 121, 0.65);
} 
button:hover {
    filter: brightness(140%);
}

button:active {
    transform: translate(0.0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}
.twitter-button:hover {
    color: #38a1f3;
}

.fa-twitter {
    font-size: 1.5rem;
}

/* loader*/

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Media Query: Tablet or smaller */
@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 10px;
    }
    .quote-text {
        font-size:2.5rem
    }
}